body{
    background-color: #1B1B1B;
}

.navbar{
    width: 100%;
    background-color: #1b1b1bb5;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: right;
    text-align: right;
    padding-right: 2vw;
    z-index: 1;
}

.navbar-toggler-icon {
    background-image: url("img/menu.png");
}

h1, h2, h3, h4, h5, h6, p, a {
    color: aliceblue;
}

.nav-link {
    color: aliceblue;
    font-family: Work Sans;
}

.nav-link:focus, .nav-link:hover {
    color: #F36291;
}

.btn, .btn:hover, .btn:active{
    background-color: #F36291;
    border: none;
    color: #1B1B1B;
    font-family: Work Sans;
    font-weight:600;
}

.first {
    margin-top: 10vh;
    margin-bottom: 10vh;

    @media (max-width:375px){
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    h1{
        margin-top: 3vh;
        font-family:Koulen;
        font-size: calc(1.4rem + 2vw);
    }

    .container {
        .row{
            display: flex;
            align-items: center;
            position: relative;

            @media (min-width:376px){
                .img-375{
                    display: none;
                }
            }
        }   
    }
}

h2 {
    font-family: Eczar;
    color: #F36291;
    margin-bottom: 3vh;

    @media (max-width:375px){
        text-align: center;
    }
}

.card-1{
    @media (max-width:375px){
        display: none;
    }
    width: 85vw;
    background-color: #F3F2FF;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;

    @media (max-width:375px){
        flex-direction: column;
        text-align: center;
    }

    .card-body{
        font-family: Work Sans;
        margin-left: 4vw;



        .card-title{
            padding-top: 3vh;
            padding-bottom: 2vh;
            font-size: 1.375rem;
        }

        .card-subtitle{
            font-size: 1rem;
            color: #594F43;
            width: 20vw;
        }

        .card-text{
            font-size: 1rem;
            font-size: 1rem;
            color: #4E5E80;
            padding-top: 2vh;
            padding-bottom: 2vh;
            font-weight:550;
            cursor: pointer;
        }
    }
}

.slider{
    margin-top: 7vh;

    h2{
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    p{
        margin-bottom: 4vh;
        padding-left: 8vw;
        padding-right: 8vw;
        font-size:1.1rem;
        }
}

.carousel-item{
    .container{
        .row{
            margin-right: 7vw;
            margin-left: 7vw;
        }

        .col{
            span{
                color: #F36291;
            }
        }
    }

    margin-bottom: 15vh;
}

.white{
    background-color:#F3F2FF;
    width: 100vw;
    padding-left: 7vw;
    padding-right: 7vw;

    .row{
        display: flex;
        align-items: center;
        .col-5{
            h3{
                font-family: Eczar;
                color: #1B1B1B;
                margin-top: 10vh;
            }

            p{
                font-family: Work Sans;
                color: #1B1B1B;
                margin-bottom: 10vh;
            }
        }
    }

    @media(max-width:601px){
        display: none;
    }
}

.end{
    margin-top: 10vh;
    color: #F36291;
    font-size: calc(1.6rem + 2vw);
    font-family: Koulen;
    width: 60vw;
}

.btn-end{
    background-color:#1B1B1B;
    padding: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border: solid #F3F2FF;
    border-radius: 0.5rem;
    color: #F3F2FF;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.btn-end:hover{
    border:solid #F36291;
    color: #F36291;
}

.social{
    display: flex;
    justify-content: right;
    margin-bottom: 16vh;

    img{
        cursor: pointer;
    }
}

form{
    background-color: #F36291;
    padding: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.form-control{
    background-color: #F36291;
    border: solid 1px #F3F2FF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: #F3F2FF;
    font-family: Eczar;

    &:active,
    &:focus{
        color: #F36291;
        box-shadow: 0 0 0 0.25rem rgba(255, 0, 140, 0.373);
        border: solid 0px;
        background-color: #F3F2FF;
    }

    &:hover{
        background-color: #F3F2FF;
        box-shadow: 0 0 0 0.25rem rgba(255, 0, 140, 0.373);
        color: #F36291;
    }

}

.form-control::-webkit-input-placeholder {
    color: #F3F2FF; 
}
.form-control::-webkit-input-placeholder {
    color: #F3F2FF; 
}
.form-control:-moz-placeholder {
    color: #F3F2FF;
}
.form-control:-ms-input-placeholder {
    color: #F3F2FF; 
}

.btn-send{
    background-color: #F36291;
    color: #F3F2FF;
    border: solid 1px #F3F2FF;
    border-radius: 0.5rem;
    padding: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 5vh;
    font-family: Eczar;

    &:hover{
        background-color: #e32360;
        color: #F3F2FF;
        border: solid 1px #F3F2FF;
    }
}

.pupa{
    display: flex;
    justify-content: center;
}

.toast-header{
    height: 5vh;
    background-color: #F36291;
    font-family: Work Sans;
    img{
        width: 10%;
    }
}

.toast-body{
    font-family: Work Sans;
    background-color: #ff88ad55;
}

@media (max-width:375px){

    .leave{
        display: flex;
        justify-content: center;

        form{
            padding-top: 10vh;
        }
    }

    .social{
        display: flex;
        justify-content: center;
    }

    .end{
        margin-top: 3vh;
        text-align: center;
        width: 100vw;
    }

    .first-text{
        width: 60vw;

    }
    .img-375{
        display: block;
        width: 110%;
        position: relative;
        right: -4vw;
        z-index: -1;
    }

    .img-fluid{
        display: none;
    }

    #liveToastBtn{
        width: 35vw;
        position: relative;
        z-index: -2;
    }


    .slider{
        margin-top: 4vh;

        p{
            margin-bottom: 2vh;
        }
    }

    .white{
        flex-direction: column;
        text-align: center;
    }

}


@media (max-width:600px){
    #carouselExampleAutoplaying{
        display: none;
    }

    .white-600{
        background-color:#F3F2FF;
        width: 100vw;
        padding-left: 7vw;
        padding-right: 7vw;
        text-align: center;
        padding-top: 4vh;

        h3{
            font-family: Eczar;
            color: #1B1B1B;
        }

        p{
            font-family:Work Sans;
            color: #1B1B1B;
            margin-bottom: 0;
        }

        img{
            width: 100%;
        }
    }

    .card-1{
        display: none;
    }

    .card-375{
        background-color: #F3F2FF;
        text-align: center;
        font-family: Work Sans;
        padding-top: 3vh;
        padding-bottom: 1.2rem;
        border-radius: 1.5rem;
        margin-bottom: 2vh;
        
        h5{
            font-size: 1.2rem;
        }

        h6{
            font-size: 1rem;
            margin-top: 1vh;
            margin-bottom: 3vh;
            color:#594F43;
            margin-left: 12vw;
            margin-right: 12vw;
        }

        p{
            color:#4E5E80;
            font-size: 1rem;
            margin-top: 2vh;
            cursor: pointer;

            &:hover{
                color: #002575;
            }
        }

        img{
            width: 100%;
        }
    }
}

@media (min-width:601px){
    #carouselExampleAutoplaying-375{
        display: none;
    }

    .card-375{
        display:none;
    }

    .white-600{
        display: none;
    }
}





